<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div *ngIf="user">
          <div class="card-header border-0 bg-gradient-info">
            <h2 class="mb-0">
              <span jhiTranslate="userManagement.detail.title">User</span> [<strong>{{ user.login }}</strong
              >]
            </h2>
          </div>

          <div class="card-body">
            <dl class="row-md jh-entity-details">
              <dt><span jhiTranslate="userManagement.login">Login</span></dt>
              <dd>
                <span>{{ user.login }}</span>
                <span *ngIf="user.activated" class="badge badge-success" jhiTranslate="userManagement.activated">Activated</span>
                <span *ngIf="!user.activated" class="badge badge-danger" jhiTranslate="userManagement.deactivated">Deactivated</span>
              </dd>

              <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
              <dd>{{ user.firstName }}</dd>

              <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
              <dd>{{ user.lastName }}</dd>

              <dt><span jhiTranslate="userManagement.email">Email</span></dt>
              <dd>{{ user.email }}</dd>

              <dt><span jhiTranslate="userManagement.langKey">Lang Key</span></dt>
              <dd>{{ user.langKey }}</dd>

              <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
              <dd>{{ user.createdBy }}</dd>

              <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
              <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

              <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
              <dd>{{ user.lastModifiedBy }}</dd>

              <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
              <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

              <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>
              <dd>
                <ul class="list-unstyled">
                  <li *ngFor="let authority of user.authorities">
                    <span class="badge badge-info">{{ authority }}</span>
                  </li>
                </ul>
              </dd>
            </dl>
          </div>

          <div class="card-footer">
            <button type="submit" routerLink="../../" class="btn btn-info">
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">

  </div>
</div>
