<div class="logo">
  <a href="https://www.creative-tim.com" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/angular2-logo-red.png" />
    </div>
    Creative Tim
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item dropdown">
        <a
          class="nav-link"
          href="javascript:void(0)"
          id="navbarDropdownMenuAccount"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="material-icons">person</i>
          <p>
            <span
              class="d-lg-none d-md-block"
              jhiTranslate="global.menu.account.main"
              >Account</span
            >
          </p>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdownMenuAccount"
        >
          <a class="dropdown-item" href="javascript:void(0)" (click)="logout()"
            ><fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>&nbsp;
            <span jhiTranslate="global.menu.account.logout">Sign out</span></a
          >
        </div>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <!-- <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems; let i = index"
      class="nav-item"
      [ngClass]="menuItem.children ? 'dropdown' : ''"
    >
      <a
        class="nav-link"
        [routerLink]="[menuItem.path]"
        *ngIf="!menuItem.children"
      >
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p>{{ menuItem.title }}</p>
      </a>
      <ng-container *ngIf="menuItem.children">
        <a
          class="nav-link"
          href="javascript:void(0)"
          [id]="'navbarDropdownMenu' + i"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="material-icons">{{ menuItem.icon }}</i>
          <p>{{ menuItem.title }}</p>
        </a>
        <div
          class="dropdown-menu dropdown-menu-left"
          [attr.aria-labelledby]="'navbarDropdownMenu' + i"
        >
          <a
            class="dropdown-item"
            href="javascript:void(0)"
            *ngFor="let item of menuItem.children"
            [routerLink]="[item.path]"
            ><i class="material-icons">{{ item.icon }}</i>
            <p *ngIf="item.jhiTranslate" [jhiTranslate]="item.jhiTranslate"></p>
            <p *ngIf="!item.jhiTranslate">{{ item.title }}</p></a
          >
        </div>
      </ng-container>
    </li> -->
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems; let i = index"
      class="{{ menuItem.class }} nav-item"
    >
      <a
        class="nav-link"
        [routerLink]="[menuItem.path]"
        *ngIf="!menuItem.children"
      >
        <i class="material-icons">{{ menuItem.icon }}</i>
        <p *ngIf="!menuItem.jhiTranslate"></p>
        <p *ngIf="!menuItem.jhiTranslate">{{ menuItem.title }}</p>
      </a>
      <ng-container *ngIf="menuItem.children">
        <ul class="nav nav-sub list-unstyled">
          <p class="ml-3 border-bottom">
            <i class="material-icons">{{ menuItem.icon }}</i>
            <span
              *ngIf="menuItem.jhiTranslate"
              [jhiTranslate]="menuItem.jhiTranslate"
            ></span>
            <span *ngIf="!menuItem.jhiTranslate">{{ menuItem.title }}</span>
          </p>
          <li
            routerLinkActive="active"
            *ngFor="let item of menuItem.children; let i = index"
            class="{{ menuItem.class }} nav-item"
          >
            <a class="nav-link" [routerLink]="[item.path]">
              <i class="material-icons">{{ item.icon }}</i>
              <p *ngIf="!item.jhiTranslate"></p>
              <p *ngIf="!item.jhiTranslate">{{ item.title }}</p>
            </a>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</div>
