<div class="header bg-gradient-info pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div *ngIf="model">
          <div class="card-header border-0 bg-gradient-info">
            <h2
              class="mb-0 text-white"
              *ngIf="title"
              [innerHTML]="title"
            ></h2>
            <h2
              class="mb-0 text-white"
              *ngIf="!title"
              jhiTranslate="entity.detail.title"
            ></h2>
          </div>
          <div class="card-body">
            <jhi-alert-error></jhi-alert-error>

            <formly-form
              [model]="model"
              [fields]="fields"
              [options]="options"
              [form]="form"
            ></formly-form>
          </div>

          <div class="card-footer">
            <button
              type="button"
              (click)="previousState()"
              class="btn btn-secondary"
            >
              <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span
                jhiTranslate="entity.action.back"
                >Back</span
              >
            </button>

            <button
              type="button"
              [routerLink]="[
                '/data',
                service,
                property,
                model.id !== undefined ? model.id : model._id,
                'edit'
              ]"
              class="btn btn-primary float-right"
            >
              <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span
                jhiTranslate="entity.action.edit"
                >Edit</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
