<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center" *ngIf="isReady">
      <div class="col-md-8">
        <form novalidate (ngSubmit)="save()" [formGroup]="form">
          <div *ngIf="model" class="card shadow">
            <h2
              class="card-header bg-primary text-white"
              *ngIf="title"
              [innerHTML]="title"
            ></h2>
            <h2
              class="card-header bg-primary text-white"
              *ngIf="!title"
              jhiTranslate="entity.home.createOrEditLabel"
            ></h2>
    
            <div class="card-body">
              <jhi-alert-error></jhi-alert-error>
    
              <formly-form
                [model]="model"
                [fields]="fields"
                [options]="options"
                [form]="form"
              ></formly-form>
            </div>
    
            <div class="card-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="previousState()"
              >
                <fa-icon icon="ban"></fa-icon>&nbsp;<span
                  jhiTranslate="entity.action.cancel"
                  >Cancel</span
                >
              </button>
    
              <button
                type="submit"
                [disabled]="form.invalid || isSaving"
                class="btn btn-primary float-right"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span
                  jhiTranslate="entity.action.save"
                  >Save</span
                >
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <pre [innerHTML]="model | json"></pre>
      </div>
    </div>
  </div>
</div>

