<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8"></div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <form novalidate (ngSubmit)="save()" [formGroup]="form">
          <div *ngIf="model && isReady">
            <div class="card-header border-0 bg-gradient-primary">
              <h2 class="mb-0 text-white" *ngIf="title" [innerHTML]="title"></h2>
              <h2
                class="mb-0 text-white"
                *ngIf="!title"
                jhiTranslate="entity.home.createOrEditLabel"
              ></h2>
            </div>
            <div class="card-body">
              <jhi-alert-error></jhi-alert-error>

              <formly-form
                [model]="model"
                [fields]="fields"
                [options]="options"
                [form]="form"
              ></formly-form>
            </div>

            <div class="card-footer">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="previousState()"
              >
                <fa-icon icon="ban"></fa-icon>&nbsp;<span
                  jhiTranslate="entity.action.cancel"
                  >Cancel</span
                >
              </button>

              <button
                type="submit"
                [disabled]="form.invalid || isSaving"
                class="btn btn-primary float-right"
              >
                <fa-icon icon="save"></fa-icon>&nbsp;<span
                  jhiTranslate="entity.action.save"
                  >Save</span
                >
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
